autopep8==1.5.7
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
distlib==0.3.4
filelock==3.6.0
freetype-py==2.4.0
glfw==2.6.5
gTTS==2.2.2
hsluv==5.0.4
idna==2.10
kiwisolver==1.4.5
numpy==1.26.4
Pillow==9.0.1
platformdirs==2.5.1
pybind11==2.11.1
pycodestyle==2.7.0
PyOpenGL==3.1.6
PyOpenGL-accelerate==3.1.7
requests==2.25.1
six==1.15.0
skia-python==87.5
toml==0.10.2
types-beautifulsoup4==4.12.0.20250204
types-click==7.1.8
types-Flask==1.1.6
types-html5lib==1.1.11.20241018
types-Jinja2==2.11.9
types-MarkupSafe==1.1.10
types-requests==2.32.0.20250328
types-Werkzeug==1.0.9
urllib3==2.3.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
vispy==0.10.0
